#header {
  text-align: Left;
  font-size: 25px;
  margin-top: 2vw;
  margin-bottom: 3vw;
}

.info {
  text-align: left;
  font-size: 25px;
}

.textInput {
  text-align: left;
}

.vendorCard {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.vendorCard:hover {
  transform: scale(1.025);
  transition-timing-function: ease-in-out;
}
